{% extends "base.html" %}

{% block content %}
<div class="about">
<h1>About Us</h1>

<p>A family owned business, W. H. Hulley have been manufacturers of quality wooden ladders, 
    step ladders and loft accessories in Sheffield since 1877'

    <br>

<h3>Maintaining the Tradition</h3>
<strong><small>Since 1877</small></strong>
<br>

<p>Originally located on Penistone Road, one of the main thoroughfares to the city, Sheffield City Council compulsory purchased the land to widen the road during our father’s time, the business moved to Ebenezer Street in Shalesmoor, where you’ll find us today.

All the timber that we use today is imported from North America, it is from sustainable sources and primarily Hemlock, which is a white pine, we also use Douglas Fir.

The way we make our ladders has changed little over the years, and though we use some machinery now for sawing and planing, assembly and finishing is by hand in the traditional way.

We know of some of our ladders that have been in garden sheds for generations, as long as you look after the timber they can be passed on and last several lifetimes.</p>
<br>


<h3>Next Generation</h3>
<br>

<p>This handcrafting tradition mentioned above is very important to us, so the continuation of the firm relies very much on handing down these old skills.

</p>
<br>
<h3>Class 1 Timber</h3>
<br>
<p>All ladders and steps are fully functional and hand crafted from Class 1 North American timber, Hemlock (sustainable sources), they come with a 12 month warranty.</p>

<br>




<h3>Access Equipment</h3>
<br>
<p>In addition to the timber ladders that we manufacture, we supply a comprehensive range of access equipment to anywhere in Mainland UK. Products include aluminium and fibreglass ladders, step ladders, attic and loft ladders, scaffolding towers and ladder accessories.</p>

<br>

</p>
</div>

{% endblock %}
