{% extends ‘base.html’ %}

{% block content %}

<div class="catalog-container">

    <!-- SIDEBAR -->
    <aside class="filters">

        <h4>Availability</h4>
        <label><input type="checkbox"> In Stock</label>

        <h4>Product</h4>
        <label><input type="checkbox"> Swingback</label>
        <label><input type="checkbox"> Orchard</label>
        <label><input type="checkbox"> Library</label>

        <h4>Material</h4>
        <label><input type="checkbox"> Aluminium</label>
        <label><input type="checkbox"> Wood</label>

    </aside>


    <!-- PRODUCT GRID -->
    <section class="product-grid">

        {% for product in products %}

        <div class="product-card">

            <a href="{% url 'product' product.slug %}">

                <img src="{{ product.image.url }}">

                <h3>{{ product.name }}</h3>

                <p>£{{ product.price }}</p>

            </a>

        </div>

        {% endfor %}

    </section>

</div>

{% endblock %}